<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
</head>
<body class='{{ page.page_name }}'>
    <div id="top">
    </div>
    
    <div id="content">
    
    <div id="page">
        <div id="main">
           {{ content }}
        </div>
          
        <div id="license">
        </div>
        
    </div>
</div>


    <div id="bottom">
	<a href="/about/">About</a> |
        <a href="http://loong4life.com">Blog</a> |
        <a href="/tags/">Archives</a>
    </div>
    
    <!-- Google Analytics Code -->    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34103835-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
            'http://www') + '.google-analytics.com/ga.js';
        ga.setAttribute('async', 'true');
        document.documentElement.firstChild.appendChild(ga);
      })();
    </script>

</body>
</html>

